* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}
.about_me {
  display: flex;
  flex-direction: column;
  max-width: 378px;
  max-height: 800px;
  margin-top: 100px;
}

.my_picture {
  width: 90px;
  height: 90px;
}
.my_birthday,
.my_phone {
  display: flex;
  gap: 5px;
}

.my_name {
  font-size: 25px;
  font-weight: 400;
}

.my_email {
  font-size: 15px;
  font-weight: 500;
  font-style: "Inter";
  color: #7c7c7c;
}

.form_wrapper {
  position: relative;
  display: flex;
  width: 1134px;
  height: 138px;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  width: 527px;
  height: 40px;
  border-radius: 10px;
  border-color: #44de6ff0;
  background-color: #eeeeee;
  padding-left: 100px;
}

.button1,
.button2 {
  width: 85px;
  height: 40px;
  border-radius: 10px;
  background-color: #44de6ff0;
  border: none;
  font-size: 15px;
}
.button3 {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: #44de6ff0;
  border: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.button4 {
  position: absolute;
  top: 52px;
  left: 172px;
  width: 92px;
  height: 34px;
  border-radius: 10px;
  background-color: #44de6ff0;
  border: none;
  font-weight: 500;
  font-size: 15px;
}

.contact_title {
  font-size: 24px;
  font-weight: bold;
}

.data {
  margin-top: 40px;
}

.contacts {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 844px;
  overflow-y: auto;
}
.contact_wrapper {
  width: 715px;
  height: 90px;
  border: 1px solid #44de6ff0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_div {
  text-align: center;
}
